*{
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family:"Bai Jamjuree" ;
}
:root{
    --firstgreen:hsl(171, 66%, 44%);
    --purple-first:hsl(233, 100%, 69%);
    --gray-dark:hsl(210, 10%, 33%);
    --gray-first:hsl(201, 11%, 66%);
}

body, html, .container {
    overflow-x: visible;
  }

  .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}

.landing-page{
    
}
p{
    line-height: 1.5;
}
.img-logo{
    background-image: url(../images/backgrounds/bg-header-desktop.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    box-shadow: inset -1px -16px 16px 11px white;
    
}
.img-logo img{
    transform: scale(0.7);
    
}

.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.head h2{
    margin-bottom: 20px;
    font-size: 33px;
    color: var(--gray-dark);
}

.head p{
    width: 521px;
    text-align: center;
    color: var(--gray-first);
    margin-bottom: 54px;
}
.head > div span{
    margin: 10px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}

.head > div span:nth-child(2){
    background: var(--purple-first);
    border-radius: 28px;
    border-bottom: 2px solid hsl(233deg 43.55% 16.98%);
}
.head > div span:nth-child(2):hover{
    cursor: pointer;
    border-bottom: none;
    border-bottom: 2px solid hsl(233deg 43.55% 16.98% / 50%);
}

.head > div span:nth-child(1){
    background: var(--firstgreen);
    border-radius: 28px;
    border-bottom: 2px solid hsl(171deg 60.05% 15.33%);
}

.head > div span:nth-child(1):hover{
    cursor: pointer;
    border-bottom: 2px solid hsl(171deg 60.05% 15.33% / 50%);
}


.h2-and-p{
    width: 514px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px auto;
}
.h2-and-p h2{
    color: var(--gray-dark);
    font-size: 29px;
}
.h2-and-p p{
    margin-top: 20px;
    color: var(--gray-first);
}
.first-section{

    column-gap: 50px;
    
}
.first-section .container{
        display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.first-section .div{

    margin-top: 28px;
    margin-bottom: 22px;
    width: 400px;
}

.first-section img{
    width: 500px;
}

.first-section div h4{
    margin-bottom: 5px;
    color: var(--gray-dark);
}
.first-section div p{
    color: var(--gray-first);
}


.h2-and-p-second img{
    transform: translatey(50px);
}

.h2-and-p-second .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}
.h2-and-p-second h2{
    color: var(--gray-dark);
    margin-bottom: 13px;
    font-size: 29px;
}
.h2-and-p-second p{
    
    color: var(--gray-first);
}

.landing-page > img {
    display: flex;
    margin: 80px auto;
    transform: scale(0.9);
}

.h2-and-p-last .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.h2-and-p-last h2{
    color: var(--gray-dark);
    margin-bottom: 13px;
    font-size: 29px;
}
.h2-and-p-last p{
    color: var(--gray-first);
}


.icon-websites{
    display: flex;
    justify-content: center;
}
.icon-websites div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 337px;
}
.icon-websites div > img{
    margin: 30px;
}
.icon-websites div > h4{
    font-size: 20px;
    margin: 20px;
    color: var(--gray-dark);
}
.icon-websites div > p{
    color: var(--gray-first);
    width: 303px;
} 

.icon-brand .container{
    display: flex;
    justify-content: space-around;

    margin-top: 150px;
}
.icon-brand .container img{
        transform: scale(0.750);
}




.second-head{

    margin: 150px 0 ;
}
.second-head .container{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.second-head h2{
    margin-bottom: 20px;
    font-size: 33px;
    color: var(--gray-dark);
}

.second-head p{
    width: 521px;
    text-align: center;
    color: var(--gray-first);
    margin-bottom: 54px;
}
.second-head > div span{
    margin: 10px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}
.second-head > div span:nth-child(2){
    background: var(--purple-first);
    border-radius: 28px;
    border-bottom: 2px solid hsl(233deg 43.55% 16.98%);
}
.second-head  > div span:nth-child(2):hover{
    cursor: pointer;
    border-bottom: none;
    border-bottom: 2px solid hsl(233deg 43.55% 16.98% / 50%);
}

.second-head  > div span:nth-child(1){
    background: var(--firstgreen);
    border-radius: 28px;
    border-bottom: 2px solid hsl(171deg 60.05% 15.33%);
}

.second-head  > div span:nth-child(1):hover{
    cursor: pointer;
    border-bottom: 2px solid hsl(171deg 60.05% 15.33% / 50%);
}


.footer{
    background-color: #f4f3f3;

}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer .container div:first-child{
        display: flex;
    justify-self: center;
}
.footer .container div:first-child img{
    width: 100px;
}

.footer-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-list ul{
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 455px;
}
.footer-list ul li{
    margin: 13px;
    margin-top: 20px;
    color: var(--gray-dark);
}
.footer-list ul li:nth-child(5){
    width: 266px;
}
.footer-list ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-icon img{
    margin: 0 15px;
}
.footer-icon img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/*********responsive section**************/

@media (max-width:768px){
    body {
        width: 768px;
        margin: 0 auto;
        font-family: "Bai Jamjuree";
    }
    .head h2 {
        margin-bottom: 20px;
        font-size: 33px;
        color: var(--gray-dark);
        width: 331px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .head p {
        width: 331px;
        text-align: center;
        color: var(--gray-first);
        margin-bottom: 54px;
        display: flex;
        flex-wrap: wrap;
    }

    .head > div span {
        margin: 10px;
        padding: 10px 15px;
        color: white;
        font-weight: bold;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .h2-and-p {
        width: 331px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 100px auto;
    }
    .h2-and-p h2 {
        color: var(--gray-dark);
        font-size: 29px;
        width: 331px;
        display: flex;
        justify-content: center;
    }
    .first-section {
        width: 331px;
        display: grid;
        grid-template: 1fr 1fr/1fr;
        /* column-gap: 50px; */
        margin-bottom: -50px;
    }
    .first-section img {
        transform: scale(0.8) translate(26px, -119px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 331px;
    }
    .first-section div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -11px;
        margin-bottom: 22px;
        width: 370px;
        align-items: center;
        /* margin: 0 auto; */
    }
    .first-section div p {
        color: var(--gray-first);
        width: 331px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .h2-and-p-second {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 370px;
        margin: 101px auto 0;
    }
    .landing-page > img {
        /* display: flex; */
        margin: 80px auto;
        transform: scale(0.);
        justify-content: center;
        align-self: center;
        width: 370px;
    }
    .h2-and-p-last {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 370px;
        margin: 0 auto;
    }
    .h2-and-p-last h2 {
        color: var(--gray-dark);
        margin-bottom: 13px;
        font-size: 29px;
        width: 370px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .icon-websites {
        display: flex;
        justify-content: center;
        margin: 103px auto;
        width: 370px;
        flex-wrap: wrap;
    }
    .icon-websites div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 337px;
    }
    .icon-websites div > p {
        color: var(--gray-first);
        width: 303px;
    }
    .icon-brand img {
        display: flex;
        justify-content: center;
        transform: scale(0.750);
        margin-top: 26px;
        flex-wrap: wrap;
        align-items: center;
        margin: 26px auto 0;
    }
    .second-head {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 150px 0;
        /* flex-wrap: wrap; */
        width: 370px;
    }
    .second-head h2 {
        margin-bottom: 20px;
        font-size: 33px;
        color: var(--gray-dark);
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .second-head p {
        width: 370px;
        text-align: center;
        color: var(--gray-first);
        margin-bottom: 54px;
    }
    .second-head > div span {
        margin: 10px;
        padding: 10px 8px;
        color: white;
        font-weight: bold;
        width: 333px;
        display: flex;
        justify-content: center;
    }
    .footer {
        background-color: #f4f3f3;
        display: grid;
        grid-template: 1fr 2fr 1fr/1fr;
        width: 370px;
        DISPLAY: FLEX;
        flex-direction: column;
    }
    .footer > img {
        transform: scale(0.5) translate(0, 0px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-list {

    }
    .footer-list ul {
        list-style: none;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        /* flex-wrap: wrap; */
        width: 330px;
        flex-direction: column;
        text-align: center;
        /* margin: auto; */
    }
    .footer-list ul li {
        margin: 18px;
        margin-top: 0px;
        color: var(--gray-dark);
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .footer-icon img {
        margin: 0 15px;
    }
    .footer-list ul li:nth-child(5) {
        /* width: 370px; */
    }
    .footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
    }
}